.animate-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.animate-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.animate-leave.animate-leave-active {
  opacity: 0;
}


@-moz-keyframes like-wind {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
        -webkit-transform: translate3d(0, 30px, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes like-wind {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
        -webkit-transform: translate3d(0, 30px, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes like-wind {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
        -webkit-transform: translate3d(0, 30px, 0)
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}
/*******************/

@-moz-keyframes wind-left {
    0% {
        opacity: 0;
        -moz-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
        -webkit-transform: translate3d(100px, 0, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes wind-left {
    0% {
        opacity: 0;
        -moz-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
        -webkit-transform: translate3d(100px, 0, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes wind-left {
    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
        -webkit-transform: translate3d(100px, 0, 0)
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}
/**************/

@-moz-keyframes wind-right {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transform: translate3d(-100px, 0, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes wind-right {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transform: translate3d(-100px, 0, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes wind-right {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
        -webkit-transform: translate3d(-100px, 0, 0)
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
}
